In [13]:
import pandas as pd
import numpy as np


df = pd.read_csv('adult.data.csv')

print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [14]:
unique_race = pd.unique(df['race'])

def race_count(race):
    by_race = df[df['race'] == race]
    return by_race.count()['race']

for race in unique_race:
    print(race,race_count(race))

White 27816
Black 3124
Asian-Pac-Islander 1039
Amer-Indian-Eskimo 311
Other 271

In [49]:
#Average age of men
unique_sex = pd.unique(df['sex'])

sex = df.loc[df['sex'] == 'Male']
count_age_men = sex.mean()['age']

print("Average age of men:",count_age_men)

Average age of men: 39.43354749885268

C:\Users\Tuong P\AppData\Local\Temp\ipykernel_1656\3024810324.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  count_age_men = sex.mean()['age']

In [57]:
avg_bachelors =round(100 * df.loc[df["education"] == "Bachelors"].size / df.size,1)

print("Percentage of bachelor degree:",avg_bachelors)

Percentage of bachelor degree: 16.4

In [54]:
unique_degree =pd.unique(df['education'])

print(unique_degree)

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']

In [68]:
higher_education =df.loc[ df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
lower_education = df.loc[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

higher_education_rich = round(100*higher_education.loc[higher_education["salary"] == ">50K" ].size/higher_education.size,1)
lower_education_rich = round(100*lower_education.loc[lower_education["salary"] == ">50K" ].size/lower_education.size,1)

print("Average higher education make >50k:",higher_education_rich)
print("Average lower education make >50k:",lower_education_rich)

Average higher education make >50k: 46.5
Average lower education make >50k: 17.4

In [81]:
min_work_hours = df["hours-per-week"].min()

print("Minimum work hours per week:",min_work_hours)

Minimum work hours per week: 1

In [80]:
num_min_workers = df.loc[df["hours-per-week"] == min_work_hours]
rich_percentage = round(100* num_min_workers.loc[num_min_workers["salary"] == ">50K"].size / num_min_workers.size,1)

print("Percentage of minimum work hours per week that earn > 50k:",rich_percentage)

Percentage of minimum work hours per week that earn > 50k: 10.0

In [83]:
# What country has the highest percentage of people that earn >50K?
highest_country = df[["salary", "native-country"]].groupby("native-country").apply(lambda g: g.loc[g["salary"] == ">50K"].size / g.size * 100)

highest_earning_country = highest_country.idxmax()
highest_earning_country_percentage = round(highest_country.max(), 1)

    # Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = (df.loc[(df["native-country"] == "India") & (df["salary"] == ">50K")]["occupation"].value_counts().idxmax() )

In [85]:
print("Country with most people earning >50k:",highest_earning_country)
print("Percentage of those data:",highest_earning_country_percentage)

Country with most people earning >50k: Iran
Percentage of those data: 41.9