In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('pima-indians-diabetes.data',header = None)

In [12]:
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [13]:
df.shape

(768, 9)

In [14]:
feature_names = ['Pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']

In [15]:
df_fix = pd.read_csv('pima-indians-diabetes.data',header = None, names = feature_names)

In [16]:
df_fix.head()

   Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [17]:
feature_select_cols = ['Pregnant','insulin','bmi','age']
X_feature = df_fix[feature_select_cols]
Y_target = df_fix['label']

In [10]:
X_feature.shape

(768, 4)

In [40]:
Y_target.shape

(768,)

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_feature,Y_target, random_state = 1)

In [44]:
from sklearn.linear_model import LogisticRegression

In [45]:
logreg = LogisticRegression()
logreg.fit(x_train,y_train)

LogisticRegression()

In [47]:
y_pred = logreg.predict(x_test)

In [64]:
from sklearn import metrics
print ('Accuracy:',metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.6927083333333334

In [65]:
print('Actual:',y_test.values[0:30])
print('Prediction:',y_pred[0:30])

Actual: [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
Prediction: [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]